html, body{
	margin: 0;
	padding: 0;
	text-align: center;
}

.main-container{
	width: 100%;
	max-width: 510px;
	margin: auto;
}

canvas{
	border: 1px solid black;
}

#bezier-function{
	text-align: left;
	margin: 50px;
}
